*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: syne, sans-serif;
}

.common-padding{
    padding: 0 150px;
}

/* Navbar styling */
/* header{
    background-color: #1690ff;
} */

header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px 20px; */
    /* max-width: 1440px; */
    margin: auto;
}


.nav-logo img {
    width: 200px; /* Adjust logo size */
  }

.navbar .nav-menu ul{
    list-style: none;
    display: flex;
    padding: 20px;
    gap: 40px;
    font-weight: 200;
    font-size: 12px;
    text-decoration: none;
}

.nav-menu a{
    text-decoration: none;
    color: #151515;
    font-size: 20px;
}

.nav-menu a:hover{
    color: #1690ff;
}


.Signup_btn{
    background-color: #ffffff;
    color: #1690ff;
    padding: 12px 32px;
    border: 1.5px solid #1690ff;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-family: syne, sans-serif;
}

.Signup_btn:hover{
    scale: 1;
    background-color: #1690ff;
    color: #ffffff;
}

.Login_btn{
    background-color: #ffffff;
    color: #151515;
    padding: 12px 28px;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    font-family: syne, sans-serif;
}

.Login_btn:hover{
    color: #1690ff;
}

.navbar .toggle_btn{
    display: none;
}

/* Navbar Styling Ended */







/* hero Section Started */
.hero-section{
    padding: 100px 0;
    /* background-color: antiquewhite; */
    text-align: center;
}


.hero-section h5{
    font-size:16px;
    font-weight: 500;
    color: #4D4D4D;
}
.hero-section .title{
    font-size:48px; 
    padding: 4px 0;
    font-family: raleway, sans-serif; 
    font-weight: 500;
    color: #151515;
}

.hero-section .subtitle{
    font-size:56px; 
    padding: 0 0 40px 0;
    font-family: raleway, sans-serif; 
    font-weight: 700;
    color: #1690ff;
}

.hero-buttons{
    gap: 90px;
}

.hero-buttons .start-demo-btn{
    background-color: #1690ff;
    color: #ffffff;
    padding: 12px 32px;
    border: 1.5px solid #1690ff;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-family: syne, sans-serif;
    text-decoration: none;
    margin: 0 10px;
}

.hero-buttons .how-it-works-btn{
    background-color: #ffffff;
    color: #1690ff;
    padding: 12px 32px;
    border: 1.5px solid #1690ff;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-family: syne, sans-serif;
    text-decoration: none;
    margin: 0 10px;
}

.hero-image-wrapper img{
    align-items: center;
    display: block;
  margin-left: auto;
  margin-right: auto;
    width: 1200px;
    height: 100%;
    object-fit: cover;  
}

/* Hero Section Styling Ended */




/* About us Styling */
.about-section{
    padding: 100px 150px;

    /* background-color: #8a1717; */
}

.about-section .section-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px ;
}

.about-section .about-image-wrapper img{
    width: 600px;
    height: 100%;
    object-fit: cover;
}


.about-section .about-title{
    font-family: raleway, sans-serif;
    font-size: 32px;
    font-weight: 600;
    color: #1690ff;
}

.about-section .about-description{
    line-height: 30px;
    font-size: 16px;
    text-align: justify;
    margin: 20px 0 0 0;
}
/* about us styling ended */




/* how it works Styling */

.how-it-works-section h3{
    text-align: center;
    font-family: raleway, sans-serif;
    font-size: 32px;
    font-weight: 600;
    color: #1690ff;
}

.how-it-works-section .works-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 40px 0 100px 0;
}

.how-it-works-section .cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0 0px 4px 0 #efefef;
    stroke: 1px solid black;
    width: 350px;
    height: 265px;
    margin: 30px;

    text-align: center;
    align-items: center;
    padding: 40px 40px 40px 40px ;
    border-radius: 4px;
}


.works-card .works-title{
    font-family: raleway, sans-serif;
    font-size: 24px;
    font-weight: 600;
    padding: 20px 0px 10px 0px;
}

.works-card p{
    color: #4D4D4D;
    font-size: 16px;
    font-weight: 400;
    padding: 20px 0px 10px 0px;
}



.works-card:hover .cards{
    scale: 5 ease-in;
    color: #151515;
}










/* Dropdown NavMenu */
.dropdown_navmenu{
    position: absolute;
    left: 0 ;
    right: 0 ;
    top: 90px;
    width: 100%;
    background: #38AA60;
    display: none;
}
.dropdown_navmenu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: left;
    color: #ffffff;
}

.dropdown_navmenu .Signup_btn1{
    background-color: #ffffff;
    color: #38AA60;
    padding: 12px 28px;
    border: 1.5px solid #38AA60;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
}



/* Contact Section Styling */
.contact-section{
    padding: 100px 150px 100px 150px;
    background-color: rgba(22, 144, 255, 0.05);

}

.contact-section .section-title{
    font-size: 32px;
    font-family: raleway,sans-serif;
    font-weight: 600;
    color: #1690ff;
    gap: 500px;
    padding: 0 0 10px 0;
}

.contact-section .Contact-description{
    font-size: 16px;
    color: #151515;
    padding: 10px 0 10px 0 ;
}

.contact-section .section-content{
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: flex-start ;
}

.contact-section .contact-list .contact-info{
    display: flex;
    gap: 20px;
    padding: 10px 0;
    align-items: center;
}

.contact-section .contact-list .contact-info i{
    font-size: 20px;
    color: #1690ff;
}

.contact-section .contact-form .input-form {
    width: 100%;
    height: 50px;
    padding: 0 20px;
    outline: none;
    margin-bottom: 16px;
    background: #ffffff;
    border-radius: 8px;
    border: 1px solid #ffffff;
    transition: all .3s ease;
    }

.contact-section .contact-form .input-form:focus{
    border-color: #1690ff;
}

.contact-section .contact-form textarea.input-form {
height: 100px;
padding: 20px;
resize: vertical;
}

.contact-section .submit-btn{
    background-color: #1690ff;
    color: #ffffff;
    padding: 12px 32px;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-family: syne, sans-serif;
    text-decoration: none;
}
/* contact Ended */




/* Footer Started */
.footer-section{
    /* background-color: #1690ff; */
    padding: 20px 150px 20px 150px ;
    display: flex;
    justify-content: space-between
;
}

.footer-section .section-content{
    display: flex;
    align-items: center;
    gap: 600px;
}

.footer-section .footer-detail{
    display: flex;
    align-items: center;
    gap: 50px;
}



.footer-section .footer-logo{
    width: 248px;
    height: 100%;
}


/* Footer Ended */






/* CSS Starts */

   .container{
       position: relative;
       max-width: 450px;
       width: 100%;
       background: #ffffff;
       box-shadow: 0 2px 6px #a5a4a4;
       border-radius: 16px;
       /* border: 0.5px solid #333333; */
   }
   
   
   .container .cross-login{
       position: absolute;
       top: 12px;
       right: 20px;
   }
   
   .container .forms{
       padding: 30px;
   }
   
   
   .container .forms .title{
       font-size: 32px;
      font-weight: 600;
      position: relative;
      color: #38AA60;
   }
   
   
   .login-heading{
       /* background-color: #333333; */
       align-items: center;
       text-align: center;
   }
   
   .logo-img{
       height: 40px;
       background-color: #333333;
       position: absolute;
   }
   
   .forms .input-field{
       margin-top: 30px;
       position: relative;
       /* background-color: aqua; */
       height: 50px;
       width: 100%;
   }
   
   .input-field input{
       position: absolute;
       height: 100%;
       width: 100%;
       padding: 0 30px;
       align-items: center;
       border: none;
       outline: none;
       font-size: 14px;
       transition: all 0.2s ease-in-out;
       border-bottom: 1px solid #333333;
       border-top: 2px solid transparent;
      
   }
   
   .input-field input:is(:focus, :valid){
       border-bottom-color: #38AA60;
   }
   
   .input-field i{
       position: absolute;
       top: 50%;
       transform: translateY(-50%);
       color: #777777;
       font-size: 16px;
   }
   
   .input-field input:is(:focus, :valid) ~ i{
       color: #38AA60;
   }
   
   .input-field i.icon{
       left: 0;
   }
   
   .input-field i.showHidePw{
     right: 0;
     cursor: pointer;
     padding: 10px;
   }
   
   .form .checkbox-text{
       /* background-color: #777777; */
       justify-content: space-between;
       display: flex;
       font-size: 14px;
       margin-top: 20px;
   }
   
   .checkbox-text .checkbox-content{
       display: flex;
       align-items: center;
   }
   
   .checkbox-content input{
       margin: 0 10px -2px 4px;
       accent-color: #38AA60;
   }
   
   
   .form a.text{
       color: #0693df;
       text-decoration: none;
       font-weight: 400;
   
   }
   .form a:hover{
       text-decoration: underline;
   }
   
   .form .button{
       margin-top: 30px;
   }
   
   .form .button input{
       border: none;
       color: #ffffff;
       font-size: 16px;
       letter-spacing: 1px;
       border-radius: 8px;
       cursor: pointer;
       transition: all 0.3s ease-in-out;
       background-color: #38AA60;
   }
   
   
   .button input:hover{
       background-color: #38AA60;
   }
   
   .form .login-signup{
       margin-top: 30px;
       text-align: center;
   }

